.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;

  background-image: url('./galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundFont{
  opacity: 0.2;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  font-size: 288px;
  z-index: 1;
}

.projects{
  position: relative;
  z-index: 5;
}

h1{
  font-size: 64px;
  margin: 10px;
}

h2{
  font-size: 48px;
}

h3{
  font-size: 32px;
}

.darkLayer{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./galaxy.jpg');
}

.hide{
  display: none;
}

.contact{
  transform: translateY(-150%);
  position: relative;
  z-index: 10;
  animation: slideIn .5s;
}

@keyframes slideIn{
  from {transform: translateY(0)}
  to {transform: translateY(-150%)}
}

.projectMobile{
  display: none;
}

@media (max-width:1000px){
  .App{
    overflow-y: auto;
    -ms-overflow-style: none;
  }
  
  .backgroundFont{
    display: none;
  }

  .projectMobile{
    display: inline-block;
  }
}

