.ProjectList{
	transition: all 0.3s; 
}

.ProjectList > .row {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}


.scroll-container::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.24);
}

.scroll-container::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.scroll-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: grey;
}
